<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <h1>Homepage</h1>
        <button id="buttonNazioni" onclick="get_elenco()">Nazioni</button>
        <button id="buttonElimina" onclick="elimina()">Elimina cliente</button>
        <div id="nazioni"></div>
        <div id="citta"></div>
        <div id="clienti"></div>
        <div id="elimina"></div>
    </body>
</html>